.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-toggle-button {
    padding-top: 10px;
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}

/* .password-toggle-button.show {
  transform: translateY(-50%);
  top: 50%;
} */

button:focus,
button:focus-visible {
    outline: none;
}

.login_passwordInput[type="password"] {
    width: 30rem;
}

.login_passwordInput[type="text"] {
    width: 30rem;
}

.login_password {
    padding-left: 2px;
    position: absolute;
    width: 24px;
    color: #ff5733
}