.box-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    width: 60rem;
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(16.666% - 10px);
    /* Distribui seis caixas por linha */
}
